:root{
    --primary-color: #202021;
    --red-color: #ca100f;
    --text-gold: rgb(196,130,47);
    --font-montserrat: 'Montserrat';
    --font-old-standard: 'Old Standard TT';
    --font-arapey: 'Arapey';
}